streamlit
langchain
langchain-community
langchain-classic
langchain-google-genai
chromadb>=0.4.24
pypdf
opentelemetry-api>=1.22.0
opentelemetry-exporter-otlp-proto-grpc>=1.22.0
protobuf<=3.20.3
